.ui-dform-label {
    
}

.ui-dform-text {
    display: block;
}

.box {
	border: dashed black 1px;	
}

.ui-dform-radiobuttons{
	display : block;
		
}

.ui-dform-radio{
}

.flash{
	position:fixed;
	top:30px;
	right:5px;
	border: solid black 1px;
	background: yellow;
}
