[submodule "lib/php-amqplib"]
	path = lib/php-amqplib
	url = git://github.com/tnc/php-amqplib.git
[submodule "lib/dform"]
	path = lib/dform
	url = git://github.com/daffl/jquery.dform.git
[submodule "lib/form2js"]
	path = lib/form2js
	url = git://github.com/maxatwork/form2js.git
[submodule "lib/json2"]
	path = lib/json2
	url = https://github.com/douglascrockford/JSON-js
[submodule "lib/serializeObject"]
	path = lib/serializeObject
	url = https://github.com/rtsinani/jquery.serializeObject.git
